.login a {
  background-color: transparent;
  width: 100%;
}.login a:hover {
  background-color: #e4e4e473
}
.contImagen{
  width: 100%;
  height: 100vh;
  position: relative;
}
.contDegradado{
  width: 100%;
  height: 100vh;
  background-image: url(../images/fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}
.contLogin{
  position: absolute;
  right: 0;
  width: 450px;
  height: 100vh;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  align-items: center;
}
.login{
  width: 100%;
  height: auto;
  color: #f3f3f3dc;
}
.login h2{
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 30px;
  user-select: none;
  font-family: 'Josefin Sans';
}
.login h3{
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
  margin-bottom: 20px;
}
.login input{
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #f3f3f3dc;
  background-color: #00000073;
  outline: none;
}
.login input::placeholder{
  color: #f3f3f3dc;
}
.login button{
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #00000073;
  color: #f3f3f3dc;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  outline: none;
  transition: 0.4s;
}
.login .form-group{
  margin-top: 15px;
}
.separador{
  height: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-top: -20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f3f3f3a9;
}
.contBotones {
  
  width: 100px;
  text-align: center;
  padding-top: 15px;
  padding-right: 15px;
}
.contBotones > a{
  text-decoration: none;
  display: flex;
  
  align-items: center;
}
.letra{
  user-select: none;
  position: absolute;
  bottom: -12px;
  height: auto;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #342535;
}

.iconsLogin svg{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* Responsive del login */
@media (max-width: 973px) {
  .contDegradado{
      display: flex;
      justify-content: center;
      align-items: center;
      background: #410046;
  }
  .contLogin{
  position: relative;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
}
@media (max-width: 750px) {
  .contLogin{
  width: 90%;
  padding-left: 0px;
  padding-right: 0px;
  }
}