@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Quicksand:wght@400;700&display=swap');

*{
  margin: 0%;
  padding: 0%;
  font-family: 'QuickSand';
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f3f3f3;
  color: #3f3f3f;
}